@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham-Light";
  src: url("/src/assets/fonts/light.otf");
}

@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/regular.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("/src/assets/fonts/bold.otf");
}

body {
  @apply font-bold text-dark
}

#link-bg:hover {
  background-color: brown !important;
}

.header {
  @apply text-2xl font-black
}

.caption {
  @apply text-xs font-bold
}

.container {
  @apply max-w-screen-lg m-auto
}

.btn-border-white {
  @apply border-2 font-bold border-white rounded-md w-full py-1
}

.btn-border-dark {
  @apply border-2 font-bold border-dark rounded-md w-full py-1
}